
body {
  background-color: #FFFFFF;
  color: #000000;
}

.footer { text-align:center;font-size:10pt; float: top; clear: left; }
.header { text-align:center;font-size:10pt; }

.header th { font-size:10pt;text-align:center; }
.header td { font-size:10pt;text-align:center; }

table { 
	padding:0;
	border-spacing:0;
	border-width:0;
	border-style:none;
}
td { padding-right:5px;padding-left:5px;vertical-align:top; }
th { padding-right:5px;padding-left:5px;vertical-align:top; }


#info {float: top;}
#chart {float: left;}
#scores {float: left; padding-left: 10px;}
#list {clear: left;}

img {	-ms-interpolation-mode: bicubic; border: 0; height: auto; max-width: 100%; vertical-align: middle;}

@media screen and (max-width: 844px) {
    #chart {float: left;}
    #scores {float: left; padding-left: 10px;}
    #list {clear: left; padding-top: 10px;}
}


.query { font-size:small;}
.query table
{
    margin-left: auto; margin-right: auto;
    padding: 0px;
    border-spacing:0;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    font-size:small;
}

.query th { text-align:left;background-color:#EEEEEE; }
.query td { text-align:left;vertical-align:bottom; }


.heatmap { font-size:small;}
.heatmap table
{
    padding: 0px;
    border-spacing:0;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    font-size:small;
}

.heatmap th { text-align:left;background-color:#EEEEEE; }
.heatmap td { text-align:left;vertical-align:bottom; }

.heatmap a:link { color: #000000; text-decoration: none;}
.heamap a:visited { color: #000000; text-decoration: none;}
.heamap a:hover {color: #eeeeee; text-decoration: none;}
.heamap a:active {color: #000000; text-decoration: none;}

/* a:link { color: #FF0000; text-decoration: none;} */
a:link { color: #900000; text-decoration: none;}
a:visited { color: #900000; text-decoration: none;}
a:hover {background-color: #d8d8d8 ;color: #000000; text-decoration: none;}
a:active {color: #FF3333; text-decoration: none;}
